{
  "video": {
    "resolution_width": 1280,
    "resolution_height": 720,
    "fps": 30,
    "codec": "mp4v"
  },
  "camera": {
    "index": 0
  },
  "storage": {
    "video_path": "videos",
    "database_path": "database.db",
    "log_path": "logs"
  },
  "app": {
    "flask_host": "127.0.0.1",
    "flask_port": 5000,
    "debug_mode": false
  }
}
